<div class="row">
  <div class="col-md-3">
    <a> <img class="img-fluid d-block " src="assets/bug.jpg" style="width: 40%;border-radius: 50px;" 
      (click)="reportissue()"></a>
    <label value="Click here:" control="open-button"style="font-weight: bold;">Report Issue</label>
    <br>
    <!-- <a><img class="img-fluid d-block" src="assets/bug.jpg" style="width: 40%;border-radius: 50px;"
       (click)="callCreateProject()"></a>
       <label value="Click here:" control="open-button"style="font-weight: bold;">Add Project</label> -->
  </div>
</div>
<div>
  <img src="assets/welcome.png" style="margin-left: 25rem" st>
</div>
