<div style="padding-left: 9rem;padding-right: 9rem;">
    <br><br>
    <div class="row col-md-12 ">
      <h4 style="margin-left: 45%; font-weight: bold;">ISSUE DETAILS</h4>
    </div>
      
    <div *ngIf="IssueDetailsforEmp" style="margin-left: 1.5rem;margin-right: 1.5rem;" class="row bg-info col-md-12">
        <div class="col-md-6" style="margin-top: 2%">
            <h3 style="text-align: right"></h3>
            <div class="form-group">
              <label>Ticket Number</label><br>
              <input type="text" style="width: 76%;max-width: 100%;background-color:white;" disabled class="form-control  col-sm-9 col-md-9" [(ngModel)]="IssueDetailsforEmp.ticketnumber">
            </div>
            <div class="form-group">
              <label>Issue type</label><br>
              <input type="text" style="width: 76%;max-width: 100%;background-color:white;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="IssueDetailsforEmp.issuetype">
            </div>
            <div class="form-group">
                <label>Product</label><br>
                <input type="text" style="width: 76%;max-width: 100%;background-color:white;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="IssueDetailsforEmp.projectname">
            </div>
            <div class="form-group">
                <label>Priority Level</label><br>
                <input type="text" style="width: 76%;max-width: 100%;background-color:white;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="IssueDetailsforEmp.prioritytype">
            </div>
            <div class="form-group">
              <label>Issue Reported on</label><br>
              <input type="text" style="width: 76%;max-width: 100%;background-color:white;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="IssueDetailsforEmp.submitteddate">
            </div>
            <div class="form-group">
                <label>Assigned By</label><br>
                <input type="text" style="width: 76%;max-width: 100%;background-color:white;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="IssueDetailsforEmp.assignedname">
            </div>
            <div class="form-group"*ngIf ="!marked && !request">
                <label>Status</label><br>
                <select style="width: 76%;max-width: 100%;" class="form-control" [(ngModel)]="IssueDetailsforEmp.status" required>
                    <option value="">--Select--</option>
                    <option value="Pending">Pending</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Declined">Decline</option>
                </select>
            </div>

            <div class="form-group" *ngIf ="!marked && !request">
                <label>Fix Start Date</label><br>
                <ng-datepicker [options]="options" position="top-right" [(ngModel)]="startdate"></ng-datepicker>
            </div>
            <div class="form-group" *ngIf ="!marked && !request">
                <label>Fix End Date</label><br>
                <ng-datepicker [options]="options" position="top-right" [(ngModel)]="enddate"></ng-datepicker>
            </div>



            <div class="form-group" *ngIf ="!request">
              <label>Duplicate</label>
              <input type="checkbox" [(ngModel)]="theCheckbox" (change)="toggleVisibility($event)" />
            </div>

            <div class="form-group" *ngIf ="marked">
              <label>Duplicate of Reference Number</label>
              <select style="background-color:white !important;width: 75%;" class="form-control" [(ngModel)]="duplicateissueid" required>
                <option value="">--Select--</option>
                <option *ngFor="let i of IssueNumber" [value]="i.issue_id">
                    {{i.ticketnumber}}
                </option>
              </select>
            </div>

            <div class="form-group" *ngIf ="request || !marked">
              <label>Change To Request</label>
              <input type="checkbox" [(ngModel)]="theCheckbox" (change)="toggleVisibility1($event)" />
            </div>

      </div>

        <div class="col-md-6" *ngIf ="!marked  && !request" style="background-color: beige; margin-top: 5%">
            <h3 style="text-align: right"></h3>
            <label>Messages*</label>
            <div *ngFor="let message of messages" class="form-group">
              <textarea class="form-control rounded-1" maxlength="100" disabled rows="5" style="resize: none;background-color:white;">{{ message.firstname }}: {{ message.comments }}</textarea>
            </div>
              <textarea class="form-control rounded-1" *ngIf ="!marked" placeholder="Enter your Message here" maxlength="10" rows="5" style="resize: none;background-color:white;" [(ngModel)]="newmessage"></textarea>
        </div>
          <br><br><br>
          <div class="row col-md-12" style="margin-left: 42%" *ngIf ="!marked  && !request">
            <a style="color:white !important" class="btn btn-success" (click)="issueAction()"><b>Save</b></a>&nbsp;&nbsp;&nbsp;
            <a (click)='goBack()' class="btn btn-warning" style="color:white !important"><b>Go Back</b></a>
          </div>

          <div class="row col-md-12" style="margin-left: 42%" *ngIf ="marked">
            <a style="color:white !important" class="btn btn-success" (click)="duplicateAction()"><b>Duplicate</b></a>&nbsp;&nbsp;&nbsp;
            <a (click)='goBack()' class="btn btn-warning" style="color:white !important"><b>Go Back</b></a>
          </div>

          <div class="row col-md-12" style="margin-left: 42%" *ngIf ="request">
            <a style="color:white !important" class="btn btn-success" (click)="changetoRequest()"><b>Change</b></a>&nbsp;&nbsp;&nbsp;
            <a (click)='goBack()' class="btn btn-warning" style="color:white !important"><b>Go Back</b></a>
          </div>
    </div>
</div>  
    
