<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" style="margin-left:1rem;">

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 5rem">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <a class="nav-link" [routerLink]="[{outlets:{ManagerOut:['welcomePage']}}]">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user">
            <span class="badge badge-primary"> </span>
          </i>
          USER
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="[{outlets:{ManagerOut:['CreateUser']}}]"><b>Create User</b></a>
            <a class="dropdown-item" [routerLink]="[{outlets:{ManagerOut:['ViewUser']}}]"><b>View User</b></a>
        </div>
      </li>


      <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-edit">
            <span class="badge badge-primary"> </span>
          </i>
          ISSUES
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" aria-labelledby="navbarDropdown">
          
            <a class="dropdown-item" [routerLink]="[{outlets:{ManagerOut:['CreateIssue']}}]"><b>Create Issue</b></a>
            <a class="dropdown-item" [routerLink]="[{outlets:{ManagerOut:['ViewIssues']}}]"><b>View Issues</b></a>
            <a class="dropdown-item" [routerLink]="[{outlets:{ManagerOut:['Issuereport']}}]"><b>Report</b></a>
        </div>
      </li>


      <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-users">
            <span class="badge badge-primary"> </span>
          </i>
          PTO
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="[{outlets:{ManagerOut:['ViewPtoRequest']}}]"><b>View PTO Request</b></a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/" >
          <i class="fa fa-sign-out"></i>
        LOG OUT
          <span class="sr-only">(current)</span>
        </a>
      </li>
      
    </ul>
  </div>
  <div style="float: right;" class="col-md-3 col-sm-3 col-lg-3">
    <span style="color:white"> <b>Welcome <u> {{name}}   !</u></b></span>
  </div>
</nav>

<div style=" padding-top:2rem !important;  size: 100%;"class="container">
    <router-outlet name="ManagerOut"></router-outlet>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark " >
  </mdb-navbar> 
</div>