<!-- <div class="form-group" >
        
<BR><BR>
<h1 style="margin-left:400px">LOGIN</h1>
<BR><BR><BR  ><BR>

<div class="row" style="margin-left:400px;width:40%;">
<label class="col-xs-3">USERNAME</label>
<input class="col-xs-9"type="text"  >
</div>
<br>
<div>
<label>PASSWORD</label>
<input type="text" >
</div>
<br>
<button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>Aqua</button>
</div> -->
<div class="background-wrap">
    <div class="background"></div>
  </div>
  
  <form id="accesspanel" action="login" method="post">
    <h1 id="litheader">LOGIN</h1>
    
    <div class="inset">
      <p>
        <input type="text" name="username" id="email" [(ngModel)]="username" placeholder="USERNAME">
      </p>
      <p>
        <input type="password" name="password" id="password"[(ngModel)]="password" placeholder="PASSWORD">
      </p>
     
      <!-- <input class="loginLoginValue" type="hidden" name="service" value="login" /> -->
    </div>
    <p>
      <button mdbBtn type="button" (click)="login()" style="margin-left: 30%;height: 100%;
margin-right: auto;background-color:slategray "  rounded="true" mdbWavesEffect>SUBMIT</button>
    </p>
  </form>