<div class="r1">
    <div class="row">
      <div class="col-md-3" style="padding-left: 5%;">
        <br>
        <div style="width:83%; border-radius:25%; background-color: rgb(208, 202, 233)">
          <img src="assets/adduser.png" style="width:80%;margin-left: 5%;margin-top: 5%;" (click)="callCreateUser()">
          <label style="font-weight:bold;margin-left: 20%;">Create User</label>
        </div> 
        <br>
        <div style="width:83%; border-radius:25%;background-color: rgb(208, 202, 233)">
          <img src="assets/project.png" style="width:80%;margin-left: 10%;margin-top: 5%;" (click)="callCreateProject()">
          <label style="font-weight: bold;margin-left: 20%;">Add Project</label>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8" style="padding-top: 8%;">
    
        <table class="table table-responsive table-bordered table" style="display: inline-table;">
          <thead class="tableHead" style="text-align: center; background-color:white">
              <th> Recent Requests </th>
          </thead>
          <tbody style="background-color:rgb(208, 202, 233)">
              <tr *ngFor="let x of RecentRequestList" class="r2">
                  <td>{{ x.description }}</td>
              </tr>
              <tr *ngIf="RecentRequestList?.length == 0">
                <td colspan="1" style="text-align: center" class="no-data-available">No records found</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    
  