<div style="margin-left: 15rem;margin-right: 15rem;">
    <br>
    <div class="col-md-12" style="padding-top: 2rem;background-color: cornsilk !important">


        <div style="text-align:center;padding-bottom: 2rem">
            <h4 style="margin-left: 5%;font-size: 1.5rem;color: #174a5e;"><strong>SETTING USERNAME AND PASSWORD</strong></h4>
            <!-- <h4 style="color: #174a5e;"><strong>SETTING USERNAME AND PASSWORD</strong></h4> -->
          </div>
      <div class="row col-md-12"style="padding-bottom:0.5rem">
        <h5 style="text-align:right" class="col-md-4"><label >User Name: </label></h5>
        <div class="col-md-8" style="text-align:left">
          <input type="text" class="form-control" id="userrolename" [(ngModel)]="userrolename">
        </div>
      </div>
      <div class="row col-md-12"style="padding-bottom:0.5rem">
        <h5 style="text-align:right" class="col-md-4"><label for="Password">Password: </label></h5>
        <div class="col-md-8" style="text-align:left">
          <input type="text" minlength="5"class="form-control" id="Password"
            [(ngModel)]="password" #Email="ngModel">
            <div *ngIf="Email.errors?.minlength" style="color: red;">
             Password should have min 5 characters
            </div>
        </div>
      </div>
      <div class="row col-md-12"style="padding-bottom:0.5rem">
        <h5 style="text-align:right" class="col-md-4"><label for="From">From: </label></h5>
        <div class="col-md-8" style="text-align:left">
          <input type="text" class="form-control" id="managerMail"
            [(ngModel)]="managerMail">
        </div>
      </div>
      <div class="row col-md-12"style="padding-bottom:0.5rem">
        <h5 style="text-align:right" class="col-md-4"><label for="To">To: </label></h5>
        <div class="col-md-8" style="text-align:left">
          <input type="text"  class="form-control" id="userMail"
            [(ngModel)]="userMail">
        </div>
      </div>
      
      <!-- <div class="row col-md-12">
        <h4 style="text-align:right" class="col-md-4"><label for="Re-typePassword">Re-type Password:
          </label></h5>
        <div class="col-md-3" style="text-align:left">
          <input type="password" readonly style="background-color:grey !important;" class="form-control" id="Re-typePassword"
            [(ngModel)]="reEnterPassword">
        </div>
        <div class="col col-md-5"></div>
      </div> -->
      <div class="row col-md-12"style="padding-bottom:2rem">
        <div class="col col-md-4"></div>
        <div style="text-align:right" class="col-md-4">
          <a style="color:white !important" class="btn btn-success" (click)="setUsernamePassword(userrolename)"><b>Save & Send Email</b>
          </a></div>
        <div class="col col-md-2"></div>
      </div>
    </div>
  
  </div>
