<div style="padding-left: 9rem;padding-right: 9rem;">
  <br>
  <div class="row col-md-12 ">
    <h4 style="margin-left: 42%; font-weight: bold;">VIEW REQUESTS</h4>
  </div>
  <br>
  <table class="table table-responsive table-bordered table" style="background-color: cornsilk;display: inline-table;text-align: center;">
    <thead class="tableHead">
      <th> Reference Number </th>
      <th> Issue Type </th>
      <th> Issue Description </th>
      <th> Status </th>
      <th> Project Name </th>
      <th> Converted by </th>
    </thead>
    <tbody>
      <tr *ngFor="let e of requestdetails">
        <td>{{ e.issueno }}</td>
        <td>{{ e.issuetype }}</td>
        <td>{{ e.description }}</td>
        <td>{{ e.statuslabel }}</td>
        <td>{{ e.projectname }}</td>
        <td>{{ e.convertedby }}</td>
      </tr>
    </tbody>
  </table>
</div>
  
  
