
<div style="padding-left: 9rem;padding-right: 9rem;">
  <div  style="background-color:cornsilk;">
    <div class="row col-md-12">
      <h4 style="margin-left: 25%;font-size: 2.5rem;color: #174a5e; font-weight: bold;padding-top:2rem;">VIEW REQUEST DETAILS</h4>
    </div>
    <!-- <div style="margin-left: 1.5rem;margin-right: 1.5rem;" class="row col-md-12"> -->
      <div style="margin-left: 6rem; margin-top:1.5rem;  font-weight: bold; text-align:center; background-color:cornsilk">
        <table class="  table-bordered table" style="padding-right:2rem">
          <thead class="tableHead">
            <th> IssueNo </th>
            <th> IssueType </th>
            <th> TicketNo</th>
            <th>Status</th>
            <th>Address</th>
            <th>ProjectName</th>
            <th>Convertedby</th>
          </thead>
          <tbody>
            <tr *ngFor="let e of requestdetails">
              <td>{{ e.issueno }}</td>
              <td>{{ e.issuetype }}</td>
              <td>{{ e.ticketnumber }}</td>
              <td>{{ e.statuslabel }}</td>
              <td>{{ e.projectname }}</td>
              <td>{{ e.convertedby }}</td>
             
              
             
            </tr>
          
           
          </tbody>
      </table>
    </div>
  </div>
  </div>
  
  
