<div style="padding-left: 9rem;padding-right: 9rem;">
        <br><br>
    <div class="row col-md-12 ">
      <h4 style="margin-left: 40%;">VIEW ISSUES</h4>
    </div>
    <br>
    <div style="margin-left: 1.5rem;margin-right: 1.5rem; text-align: center;">
      <table class="table table-responsive table-hover table-bordered table" style="display: inline-table">
        <thead class="tableHead">
          <th> Reference Number </th>
          <th> Submitted Date </th>
          <th> Issue Type</th>
          <th> Project Name</th>
          <th> Priority </th>
          <th> Status </th>
          <th> Details </th>
        </thead>
        <tbody>
          <tr *ngFor="let x of issuedetails">
            <td>{{ x.ticketnumber }}</td>
            <td>{{ x.submitteddate }}</td>
            <td>{{ x.issuetype }}</td>
            <td>{{ x.projectname }}</td>
            <td>{{ x.prioritytype }}</td>
            <td>{{ x.status }}</td>
            <td>
              <a [routerLink]="['IssueAction', x.issue_id, x.assignedby]" class="btn btn-primary"><b>VIEW</b></a>&nbsp;&nbsp;
            </td>
          </tr>
          <tr *ngIf="issuedetails?.length == 0">
            <td colspan="7" class="no-data-available">No records found</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
    
