<div style="padding-left: 9rem;padding-right: 9rem;">
    <br><br>
    <div class="row col-md-12 ">
      <h4 style="margin-left: 45%; font-weight: bold;">VIEW ISSUES</h4>
    </div>
    <br>
  <div class="col-md-12">
    <form [formGroup]="searchform">
      <div class="active-pink-3 active-pink-4 mb-4" style="margin-left: 1.5rem;margin-right: 1.5rem;">
        <input class="form-control" name="searchdetails" maxlength="20" specialIsAlphaNumeric minlength="3"
          type="text" placeholder="Search Issue Type, Reference Number, Project Name, Status" aria-label="Search"
          [(ngModel)]="SearchDetails" formControlName="SearchDetails"
          (input)="searchDetails($event.target.value);" style="width: 102.3%;margin-left: -0.9rem;">
        <!-- <div *ngIf="searchform.controls.SearchDetails.errors?.minlength">Minimum 3 characters required.</div> -->
      </div>
    </form>
  </div>
    <div style="margin-left: 1.5rem;margin-right: 1.5rem; text-align: center;width:100%">
      <table class="table table-responsive table-hover table-bordered table" style="display: inline-table; background-color:cornsilk">
        <thead class="tableHead">
          <th> Reference Number </th>
          <th> Submitted Date </th>
          <th> Issue Type</th>
          <th> Project Name</th>
          <th> Priority </th>
          <th> Description </th>
          <th> Status </th>
          <th> Details </th>
        </thead>
        <tbody>
          <tr *ngFor="let x of issuedetails">
            <td>{{ x.ticketnumber }}</td>
            <td>{{ x.submitteddate }}</td>
            <td>{{ x.issuetype }}</td>
            <td>{{ x.projectname }}</td>
            <td>{{ x.prioritytype }}</td>
            <td>{{ x.description }}</td>
            <td>{{ x.statuslabel }}</td>
            <td *ngIf="x.statuslabel=='Pending'">
              <a [routerLink]="['IssueAction', x.issue_id, x.assignedby]" class="btn btn-primary"><b>VIEW</b></a>&nbsp;&nbsp;
            </td>
            <td *ngIf="x.statuslabel=='Submitted'">
              <a [routerLink]="['IssueActionEmp', x.issue_id, x.assignedby]" class="btn btn-primary"><b>VIEW</b></a>&nbsp;&nbsp;
            </td>
          </tr>
          <tr *ngIf="issuedetails?.length == 0">
            <td colspan="7" class="no-data-available">No records found</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-success" style="float:left" (click)="previousPage()" *ngIf="showHide1">&#60;&#60; Previous</button>
    <button class="btn btn-success" (click)="nextPage()" style="float:right" *ngIf="showHide2">Next >></button>
</div>
    
