<div style="padding-left: 9rem;padding-right: 9rem;">
    <br>
    <div class="row col-md-12 ">
      <h4 style="margin-left: 40%; font-weight: bold;">ISSUE DETAILS</h4>
    </div>
    <br>
    <div *ngIf="IssueDetailsforManager" style="margin-left: 1.5rem;margin-right: 1.5rem; background-color:cornsilk" class="row col-md-12">
          
        <div class="col-md-6" style="margin-top: 2%">
            <h3 style="text-align: right"></h3>
            <div class="form-group">
              <label>Ticket Number</label><br>
              <input type="text" style="width: 76%;max-width: 100%;background-color:white;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="IssueDetailsforManager.ticketnumber">
            </div>
            <div class="form-group">
              <label>Issue type</label><br>
              <input type="text" style="width: 76%;max-width: 100%;background-color:white;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="IssueDetailsforManager.issuetype">
            </div>
            <div class="form-group">
              <label>Issue Reported on</label><br>
              <input type="text" style="width: 76%;max-width: 100%;background-color:white;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="IssueDetailsforManager.submitteddate">
            </div>
            <div class="form-group">
              <label>Assigned to</label><br>
              <input type="text" style="width: 76%;max-width: 100%;background-color:white;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="IssueDetailsforManager.assignedtoname">
            </div>
            <div *ngIf="IssueDetailsforManager.statuslabel=='Resolved'">
              <div class="form-group" >
                  <label>Fix Start Date</label><br>
                  <ng-datepicker [options]="options" position="top-right" style="background-color:white;"disabled [(ngModel)]="IssueDetailsforManager.fixstartDT"></ng-datepicker>
              </div>
              <div class="form-group">
                  <label>Fix End Date</label><br>
                  <ng-datepicker [options]="options" position="top-right" style="background-color:white;" disabled [(ngModel)]="IssueDetailsforManager.fixendDT"></ng-datepicker>
              </div>
          </div>
      </div>

        <div class="col-md-6"  style="margin-top: 2%">
            <div class="form-group">
                <label>Product</label><br>
                <input type="text" style="width: 76%;max-width: 100%;background-color:white;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="IssueDetailsforManager.projectname">
            </div>
            <div class="form-group">
              <label>Priority Level</label><br>
              <input type="text" style="width: 76%;max-width: 100%;background-color:white;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="IssueDetailsforManager.prioritytype">
          </div>
          <div class="form-group">
            <label>Issue Description*</label>
            <textarea class="form-control rounded-1" maxlength="100" disabled [(ngModel)]="IssueDetailsforManager.description" rows="5" style="resize: none;background-color:white;"></textarea>
          </div>
      </div>
          <br><br><br>
          <div class="row col-md-12" style="margin-left: 42%">
            <a (click)='goBack()' class="btn btn-warning" style="color:white !important"><b>Go Back</b></a>
          </div>
    </div>
</div>  
    

