<div style="padding-left: 9rem;padding-right: 9rem;">
  <br><br>
  <div class="row col-md-12 ">
    <h4 style="margin-left: 45%; font-weight: bold;">HISTORY</h4>
  </div>
  <br>
  <br>
    <div style="margin-left: 1.5rem;margin-right: 1.5rem; text-align: center; background-color:cornsilk">
      <table class="table table-responsive table-hover table-bordered table" style="display: inline-table">
        <thead class="tableHead">
          <th> Reference Number </th>
          <th> Submitted Date </th>
          <!-- <th> Issue Decription</th> -->
          <th> Priority </th>
          <th> Status </th>
          <th> Details </th>
        </thead>
        <tbody>
          <tr *ngFor="let x of historydetails">
            <td>{{ x.ticketnumber }}</td>
            <td>{{ x.submitteddate }}</td>
            <!-- <td>{{ x.description }}</td> -->
            <td>{{ x.prioritytype }}</td>
            <td>{{ x.statuslabel }}</td>
            <td>
              <a [routerLink]="['HistoryDetails', x.issue_id]" class="btn btn-primary"><b>VIEW</b></a>&nbsp;&nbsp;
            </td>
          </tr>
          <tr *ngIf="historydetails?.length == 0">
            <td colspan="5" class="no-data-available">No records found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
