<div style="padding-left: 9rem;padding-right: 9rem;">
    <div class="row col-md-12 ">
      <h4 style="margin-left: 42%;">ISSUE DETAILS</h4>
    </div>
  
    <div *ngIf="HistoryDetails" style="margin-left: 1.5rem;margin-right: 1.5rem;" class="row bg-info col-md-12">
      <div class="col-md-6" style="margin-top: 2%">
        <h3 style="text-align: right"></h3>
        <div class="form-group">
          <label>Ticket Number</label><br>
          <input type="text" style="width: 76%;max-width: 100%;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="HistoryDetails.ticketnumber">
        </div>
        <div class="form-group">
          <label>Issue type</label><br>
          <input type="text" style="width: 76%;max-width: 100%;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="HistoryDetails.issuetype">
        </div>
        <div class="form-group">
          <label>Status</label><br>
          <input type="text" style="width: 76%;max-width: 100%;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="HistoryDetails.status">
        </div>
        <div class="form-group">
            <label>Priority Level</label><br>
            <input type="text" style="width: 76%;max-width: 100%;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="HistoryDetails.prioritytype">
        </div>
        <div class="form-group">
          <label>Submitted Date</label><br>
          <input type="text" style="width: 76%;max-width: 100%;" disabled class="form-control  col-sm-9 col-md-9 col-lg-9" [(ngModel)]="HistoryDetails.submitteddate">
      </div>
      </div>
      <div class="col-md-6" style="background-color: antiquewhite; margin-top: 5%">
        <h3 style="text-align: right"></h3>
        <label>Messages*</label>
        <div *ngFor="let message of messages" class="form-group">
          <textarea class="form-control rounded-1" maxlength="10" disabled rows="5" style="resize: none;">{{ message.firstname }}: {{ message.comments }}</textarea>
        </div>
          <textarea class="form-control rounded-1" maxlength="10" rows="5" style="resize: none;" [(ngModel)]="newmessage"></textarea>
      </div>
      <br><br><br>
      <div class="row col-md-12" style="margin-left: 42%">
        <a style="color:white !important" class="btn btn-success" (click)="SaveMessage()"><b>Send</b></a>
        <a style="color:white !important" class="btn btn-success" (click)="goBack()"><b>Go Back</b></a>
      </div>
    </div>
  </div>

