<div class="row">
    <div class="col-md-3">
      <a> <img class="img-fluid d-block " src="assets/bug.jpg" style="width: 40%;border-radius: 50px;" 
        (click)="createuser()"></a>
      <label value="Click here:" control="open-button"style="font-weight: bold;">Create User </label>
      <br>
      <a><img class="img-fluid d-block" src="assets/bug.jpg" style="width: 40%;border-radius: 50px;"
         (click)="createissue()"></a>
         <label value="Click here:" control="open-button"style="font-weight: bold;">Create Issue</label>
    </div>
  </div>
<div >
    <img src="assets/welcome.png" style="margin-left: 25rem" st>
</div>

